<div class="main-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">



                <ul>

                    <li>
                        <a href="#">کالای دیجیتال</a>
                        <ul>
                            <li><a href="{% url 'mobile_category' %}"> "موبایل</a></li>

                            <li><a href="#">لوازم جانبی</a></li>
                        </ul>
                    </li>


                    <li>
                        <a href="#">اخبار</a>
                        <ul>
                            <li><a href="#">تکنولوژی</a></li>
                            <li><a href="#">علم و دانش</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>